<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2023 Alessandro Fornasier, Control of Networked Systems, University of Klagenfurt, Austria.

  All rights reserved.

  This software is licensed under the terms of the BSD-2-Clause-License with
  no commercial use allowed, the full terms of which are made available
  in the LICENSE file. No license in patents is granted.

  You can contact the author at <alessandro.fornasier@ieee.org>
-->
<launch>

    <!-- arguments-->
    <arg name="supervisor_window_s"                     default="10.0" />
    <arg name="max_norm_changes"                        default="1.0" />
    <arg name="topic_to_supervise"                      default="/ov_msckf/poseimu" />
    <arg name="estiamte_msg_type"                       default="posestamped" /> <!-- posestamped, posewithcovariancestamped -->

    <!-- autonomy node -->
    <node name="estimator_supervisor" pkg="estimator_supervisor" type="estimator_supervisor" output="screen" clear_params="true" required="false">

        <!-- topics and services -->
        <param name="supervisor_window_s"           type="double"   value="$(arg supervisor_window_s)" />
        <param name="max_norm_changes"              type="double"   value="$(arg max_norm_changes)" />
        <param name="topic_to_supervise"            type="string"   value="$(arg topic_to_supervise)" />
        <param name="estiamte_msg_type"             type="string"   value="$(arg estiamte_msg_type)" />

    </node>

</launch>
